doctype html
html(lang="en")
  head
    title="Processing"
    link(href='/css/main.css', rel='stylesheet')
  body
    section.cover
      div.wait
        span Please wait...
    script(src="https://cdn.socket.io/socket.io-1.3.7.js")
    script(type="text/javascript").
      var socket = io();
      socket.on("login-completed", function() {
       console.log("yes, we are good to go");
       window.location = "/";
      });
      socket.emit("start-save");
